<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/sytle.css" type="text/css" />
    <link rel="icon" href="https://vignette.wikia.nocookie.net/turtles/images/6/64/Favicon.ico/revision/latest?cb=20120714152056"/>
		<title>News With Mongo!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/js/news.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
